--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/

Django==1.4
pinax-theme-bootstrap==2.0.2.post3
pinax-utils==1.0b1.dev3

-e git+git://github.com/pinax/pinax-theme-bootstrap-account#egg=pinax-theme-bootstrap-account
-e git+git://github.com/pinax/django-user-accounts#egg=django-user-accounts